In [27]:
import pandas as pd

# 先創立兩個table
point = {
    "name":["Adam", "Brain", "Cerci"],
    "eng":[44, 55, 66],
    "math":[56, 78, 89]
}
df = pd.DataFrame(point)
print("df:",df)
point_2 = [
    ["Ado", 38, 48],
    ["Rock", 67, 77],
    ["Mick", 23, 55],
    ["Tom", 67, 88]
]
df_2 = pd.DataFrame(point_2, columns = ["name", "eng", "math"])
print("df_2:", df_2)

df:     name  eng  math
0   Adam   44    56
1  Brain   55    78
2  Cerci   66    89
df_2:    name  eng  math
0   Ado   38    48
1  Rock   67    77
2  Mick   23    55
3   Tom   67    88

In [30]:
# 合併concat如果沒有輸入ignore_index，列索引就位亂掉:如下
new_df = pd.concat([df, df_2])
print(new_df)

# table合併:concat用法:合併後用ignore_index=True，列索引才會一起合併
new_df = pd.concat([df, df_2], ignore_index=True)
print(new_df)

    name  eng  math
0   Adam   44    56
1  Brain   55    78
2  Cerci   66    89
0    Ado   38    48
1   Rock   67    77
2   Mick   23    55
3    Tom   67    88
    name  eng  math
0   Adam   44    56
1  Brain   55    78
2  Cerci   66    89
3    Ado   38    48
4   Rock   67    77
5   Mick   23    55
6    Tom   67    88

In [31]:
# 給指定欄位附值None : .at[列位索引, "欄位索引名稱"]
new_df.at[1, "name"] = None
print(new_df)  # 在name欄的第1列內容變成Non

    name  eng  math
0   Adam   44    56
1   None   55    78
2  Cerci   66    89
3    Ado   38    48
4   Rock   67    77
5   Mick   23    55
6    Tom   67    88

In [33]:
# 第1列的內容變成None之後，可以用dropna將空值(Nona或NaN)刪除
new_df = new_df.dropna()
print(new_df)  
# 可以看到第1列的None整列被刪除了，但列位索引也同時被刪除了

print(".reset_index(drop=True)用法")
# 在dropna()後面加上.reset_index(drop=True)，就可以回復原本順序的列位索引
new_df = new_df.dropna().reset_index(drop=True)
print(new_df)

    name  eng  math
0   Adam   44    56
2  Cerci   66    89
3    Ado   38    48
4   Rock   67    77
5   Mick   23    55
6    Tom   67    88
.reset_index(drop=True)用法
    name  eng  math
0   Adam   44    56
1  Cerci   66    89
2    Ado   38    48
3   Rock   67    77
4   Mick   23    55
5    Tom   67    88

In [46]:
# .at .iat的用法:.at[列位索引, "欄位索引名稱"], 
# .iat[列位索引,欄位索引]

print(".at .iat用法")
print("原本的", new_df)
new_df.at[4, "name"] = "Adam"
new_df.iat[4, 1] = 44
print(new_df)

.at .iat用法
原本的     name  eng  math
0   Adam   44    56
1  Cerci   66    89
2    Ado   38    48
3   Rock   44    77
4   Adam   23    55
5    Tom   67    88
    name  eng  math
0   Adam   44    56
1  Cerci   66    89
2    Ado   38    48
3   Rock   44    77
4   Adam   44    55
5    Tom   67    88

In [48]:
# 現在有重複的資料: name:Adam，要刪除重複的資料用,drop_duplicates()
# 可以在()內加入ignore_index=True，調整索引順序
# 如果該筆資料只要出現一個是不相同的就不會刪除
print("原本的\n", new_df )
new_df = new_df.drop_duplicates(ignore_index=True)
print("名字相同但分數不同的資料\n", new_df)
# 調整成完全相同的兩筆資料後進行刪除
new_df.iat[4, 2] = 56
new_df = new_df.drop_duplicates(ignore_index=True)
print("刪除重複資料並調整列位索引\n", new_df)
# 可以看到原本第4列的Adam被刪除了，並且調整了列位索引

原本的
     name  eng  math
0   Adam   44    56
1  Cerci   66    89
2    Ado   38    48
3   Rock   44    77
4   Adam   44    55
5    Tom   67    88
名字相同但分數不同的資料
     name  eng  math
0   Adam   44    56
1  Cerci   66    89
2    Ado   38    48
3   Rock   44    77
4   Adam   44    55
5    Tom   67    88
刪除重複資料並調整列位索引
     name  eng  math
0   Adam   44    56
1  Cerci   66    89
2    Ado   38    48
3   Rock   44    77
4    Tom   67    88

In [50]:
# Table內的值比大小
print("現在的資料:\n", new_df)
print("比大小eng > 60")
print(new_df[new_df["eng"] > 60])
print("比大小math > 60")
print(new_df[new_df["math"] > 60])

現在的資料:
     name  eng  math
0   Adam   44    56
1  Cerci   66    89
2    Ado   38    48
3   Rock   44    77
4    Tom   67    88
比大小eng > 60
    name  eng  math
1  Cerci   66    89
4    Tom   67    88
比大小math > 60
    name  eng  math
1  Cerci   66    89
3   Rock   44    77
4    Tom   67    88

In [53]:
# 篩選條件:欄位名稱.isin()
print("現在的資料\n", new_df)
print("篩選出Adam Cerci: 欄位名稱.isin()")
print(new_df[new_df["name"].isin(["Adam", "Cerci"])])
print("篩選出英文66, 44")
print(new_df[new_df["eng"].isin([66, 44])])

現在的資料
     name  eng  math
0   Adam   44    56
1  Cerci   66    89
2    Ado   38    48
3   Rock   44    77
4    Tom   67    88
篩選出Adam Cerci: 欄位名稱.isin()
    name  eng  math
0   Adam   44    56
1  Cerci   66    89
篩選出英文66, 44
    name  eng  math
0   Adam   44    56
1  Cerci   66    89
3   Rock   44    77

In [56]:
# 排序:sort_index(ascending=True or False)
# 如果index是字母，也會按照字母順序排
print("現在的資料\n", new_df)

print("遞減排序:ascending=Fales/0")
print(new_df.sort_index(ascending=False))
print("遞增排序:ascending=True/1")
print(new_df.sort_index(ascending=True))

現在的資料
     name  eng  math
0   Adam   44    56
1  Cerci   66    89
2    Ado   38    48
3   Rock   44    77
4    Tom   67    88
遞減排序:ascending=Fales/0
    name  eng  math
4    Tom   67    88
3   Rock   44    77
2    Ado   38    48
1  Cerci   66    89
0   Adam   44    56
遞增排序:ascending=True/1
    name  eng  math
0   Adam   44    56
1  Cerci   66    89
2    Ado   38    48
3   Rock   44    77
4    Tom   67    88

In [64]:
# 補充axis用法
point_2 = [
    ["Ado", 38, 48],
    ["Rock", 67, 77],
    ["Mick", 23, 55],
    ["Tom", 67, 88]
]
df_2 = pd.DataFrame(point_2)
print("df_2:\n", df_2)

print("axis=1，'每一列裡面索引欄1內容'都刪掉")         
new_df=df_2.drop([1], axis=1)   #1是橫的
print("程式: df_2.drop([1], axis=1)")
print(new_df)  
print("")
print("axis=0，'每一欄裡面索引1的列內容'都刪掉")   
print("程式: df_2.drop([1], axis=0)  ")
new_df=df_2.drop([1], axis=0)   #0是直的
print(new_df)

df_2:
       0   1   2
0   Ado  38  48
1  Rock  67  77
2  Mick  23  55
3   Tom  67  88
axis=1，'每一列裡面索引欄1內容'都刪掉
程式: df_2.drop([1], axis=1)
      0   2
0   Ado  48
1  Rock  77
2  Mick  55
3   Tom  88

axis=0，'每一欄裡面索引1的列內容'都刪掉
程式: df_2.drop([1], axis=0)
      0   1   2
0   Ado  38  48
2  Mick  23  55
3   Tom  67  88