In [2]:
import pandas as pd

In [3]:
"""可以用dict做出pandas雙維度的DataFrame
dict的"KEY"就是pandas的第二個維度的索引名稱"""
point = {
    "name":["Adam", "Brain", "Cerci"],
    "eng":[44, 55, 66],
    "math":[77, 88, 99]
}
df = pd.DataFrame(point)
print(df)

    name  eng  math
0   Adam   44    77
1  Brain   55    88
2  Cerci   66    99

In [4]:
"""也可以用list做出pandas雙維度的DatFrame
會帶入內建的索引名:0,1,2,3,..."""
point_2 = [
    ["Ado",38,48],
    ["Rock",67,77],
    ["Mick",23,93],
    ["Pet",56,44]
]
df_2 = pd.DataFrame(point_2)
print(df_2)

      0   1   2
0   Ado  38  48
1  Rock  67  77
2  Mick  23  93
3   Pet  56  44

In [18]:
# 修改"列"的索引名稱
df_2.index = ["No.1", "No.2", "No.3", "No.4"]
# 修改"欄"的索引名稱，是columns，有s
df_2.columns = ["students", "ENG_point", "MATH_point"]
print(df_2)

     students  ENG_point  MATH_point
No.1      Ado         38          48
No.2     Rock         67          77
No.3     Mick         23          93
No.4      Pet         56          44

In [19]:
# 在list的情況下可以建立索引
new_df = pd.DataFrame(point_2, index = ["s1", "s2", "s3", "s4"])
print(new_df)

       0   1   2
s1   Ado  38  48
s2  Rock  67  77
s3  Mick  23  93
s4   Pet  56  44

In [20]:
# 從"頭"算起2筆資料
print(new_df.head(2))

print("------------")
# 從"尾"算起2筆資料
print(new_df.tail(2))

       0   1   2
s1   Ado  38  48
s2  Rock  67  77
------------
       0   1   2
s3  Mick  23  93
s4   Pet  56  44

In [21]:
# 注意!!雙維度在呼叫內容時用[[]]，兩個[]
print(df[["students"]])
print(df[["students", "MATH_point"]])

     students
No.1     Adam
No.2    Brain
No.3    Cerci
     students  MATH_point
No.1     Adam          77
No.2    Brain          88
No.3    Cerci          99

In [22]:
# 取第0~3筆資料可用0:3表示
print(new_df[0:3])

       0   1   2
s1   Ado  38  48
s2  Rock  67  77
s3  Mick  23  93

In [23]:
# 取得索引值寫法:.iat[key:columns] / .at[key:"key"]
# 注意索引名稱，如果已經編輯過了就要用新的名稱
print(".iat[key,columns]:new_df.iat[1,0]=", new_df.iat[1,0])
print(".at[key:key]:new_df.at['s1',0]=", new_df.at["s1", 0])

.iat[key,columns]:new_df.iat[1,0]= Rock
.at[key:key]:new_df.at['s1',0]= Ado

In [24]:
# 增加欄位資料:.insert(第幾欄位,欄位索引名稱="",值=[)
new_df.insert(0, column = "CHN_point", value = [56, 36, 66, 78])
print(new_df)

    CHN_point     0   1   2
s1         56   Ado  38  48
s2         36  Rock  67  77
s3         66  Mick  23  93
s4         78   Pet  56  44

In [37]:
print("原本的df")
print(df)
# append資料
new_df = df.append({
    "students":"Newt",
    "ENG_point":80,
    "MATH_point":90
}, ignore_index=True) 
# 如果已經修改索引名稱的話一定要加ignore_index=True，索引標籤就會從內建的0開始
print("append資料後")
print(new_df)

原本的df
     students  ENG_point  MATH_point
No.1     Adam         44          77
No.2    Brain         55          88
No.3    Cerci         66          99
append資料後
  students  ENG_point  MATH_point
0     Adam         44          77
1    Brain         55          88
2    Cerci         66          99
3     Newt         80          90

In [42]:
# concat合併
df1 = pd.DataFrame({
    "stud":["George", "Hanks"],
    "ENG_p":[62, 33],
    "MATH_p":[88,40]
})
df2 = pd.DataFrame({
    "students":["George", "Hanks"],
    "ENG_point":[62, 33],
    "MATH_point":[88,40]
})
new_df2 = pd.concat([new_df, df2], ignore_index=True)
print(new_df2)
new_df1 = pd.concat([new_df, df1], ignore_index=True)  # 這邊注意，如果一直重複執行，就會一直增加
print("如果索引名稱沒有統一就會變成下面第一個結果")
print(new_df1)

  students  ENG_point  MATH_point
0     Adam         44          77
1    Brain         55          88
2    Cerci         66          99
3     Newt         80          90
4   George         62          88
5    Hanks         33          40
如果索引名稱沒有統一就會變成下面第一個結果
  students  ENG_point  MATH_point    stud  ENG_p  MATH_p
0     Adam       44.0        77.0     NaN    NaN     NaN
1    Brain       55.0        88.0     NaN    NaN     NaN
2    Cerci       66.0        99.0     NaN    NaN     NaN
3     Newt       80.0        90.0     NaN    NaN     NaN
4      NaN        NaN         NaN  George   62.0    88.0
5      NaN        NaN         NaN   Hanks   33.0    40.0

In [43]:
# 修改內容:.at[列索引,欄位索引名稱]，如果沒有該列就會自動增加，其值為NaN
new_df2.at[5,"students"] = "Will"
new_df2.at[6,"students"] = "Zack"
print(new_df2)

  students  ENG_point  MATH_point
0     Adam       44.0        77.0
1    Brain       55.0        88.0
2    Cerci       66.0        99.0
3     Newt       80.0        90.0
4   George       62.0        88.0
5     Will       33.0        40.0
6     Zack        NaN         NaN

In [54]:
# 刪除:.drop(["欄位索引名稱"], axis=1)
# 注意!! axis=1 表示"橫的"  axis=0 表示"直的"
drop_df = new_df2.drop(["MATH_point"], axis=1)
print("原本的df", new_df2)
print("axis=1", drop_df)
print("----------------------------------")
print("原本的df", df)
drop_df2 = df.drop(["No.3"], axis=0)
print("axis=0",drop_df2)

原本的df   students  ENG_point  MATH_point
0     Adam       44.0        77.0
1    Brain       55.0        88.0
2    Cerci       66.0        99.0
3     Newt       80.0        90.0
4   George       62.0        88.0
5     Will       33.0        40.0
6     Zack        NaN         NaN
axis=1   students  ENG_point
0     Adam       44.0
1    Brain       55.0
2    Cerci       66.0
3     Newt       80.0
4   George       62.0
5     Will       33.0
6     Zack        NaN
----------------------------------
原本的df      students  ENG_point  MATH_point
No.1     Adam         44          77
No.2    Brain         55          88
No.3    Cerci         66          99
axis=0      students  ENG_point  MATH_point
No.1     Adam         44          77
No.2    Brain         55          88